<div class="surface-card p-4 shadow-2 border-round container-middleOfTheScreen" style="position: relative; height: 600px; width: 45%;">
  <div class="text-center mb-5 mt-0">
    <h1 class="mt-0 pt-0" style="color:black">Chatroom</h1>
    <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="text-left p-4 overflow-auto" style="border-style:solid; color:black; border-color: black; border-width: thin; height:400px;">
      <ul *ngFor="let x of messages">
        {{x.message}}
      </ul>
    </div>
  </div>
  <div style="position: absolute; bottom: 0; width: 90%; text-align: center;" class="p-4">
    <form [formGroup]="formGroup" (ngSubmit)="newMessage()">
      <input formControlName="message" id="message" type="text" placeholder="Message" pInputText style="width: 74%;">
      <button pButton pRipple label="Send" icon="pi pi-user" class="ml-2" style="width: 24%; text-align: center;"></button>
    </form>
  </div>

</div>
