h1 {
  color: black;
}

.user-register {
  text-align: center;
  padding-top: 1%;
  color: black;
  input {
    padding: 0.4%;
  }
  .username {
    margin: 0.3%;
  }
  .password {
    margin: 0.3%;
  }
  .submit-button {
    margin: 1%;
  }
}

.container-middleOfTheScreen{
  width: 30%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}
