<div class="user-register">
  <h1>REGISTER</h1>
  <form [formGroup]="myForm" (ngSubmit)="registerUser()">
    <div class="username">
      <label for="username">Username</label>
      <br>
      <input type="text" formControlName="username" id="username"/>
    </div>

    <div class="password">
      <label for="password">Password</label>
      <br>
      <input type="password" formControlName="password" id="password"/>
    </div>

    <div class="submit-button">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

